.cp-evidence-marker {
  background-image: url('../clinical-pathways/icons/marker/evidence-marker.png');
  -webkit-background-size:25px 50px;
  background-size:25px 50px;
  position: absolute;
  width: 25px;
  height: 50px;
  text-align:center;
  padding-top:25px;
  font-weight: bold;
}

.bpp-field-wrapper > div {
  min-height: 25px;
}